name: benchmarks

on:
  pull_request:

jobs:
  Benchmark:
    if: "!contains(github.event.head_commit.message, '[skip ci]')"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: julia-actions/setup-julia@latest
        with:
          version: '1.7'

      # Setup
      - name: Ubuntu TESTCMD
        run: echo "TESTCMD=xvfb-run --auto-servernum julia --project=benchmark" >> $GITHUB_ENV
      - name: Install Plots dependencies
        uses: julia-actions/julia-buildpkg@latest
      - name: Install Benchmarking dependencies
        run: julia --project=benchmark -e 'using Pkg; pkg"add PkgBenchmark https://github.com/BeastyBlacksmith/BenchmarkCI.jl#bbs/robust_environments"'

      - name: Run benchmarks
        run: $TESTCMD -e 'using BenchmarkCI; using BenchmarkCI; BenchmarkCI.judge()'
      - name: Print judgement
        run: julia -e 'using BenchmarkCI; BenchmarkCI.displayjudgement()'
      - name: Post results
        run: julia -e 'using BenchmarkCI; BenchmarkCI.postjudge()'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
