name: benchmarks

on:
  pull_request:

concurrency: 
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  Benchmark:
    if: "!contains(github.event.head_commit.message, '[skip ci]')"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: julia-actions/setup-julia@latest
  
      - name: Ubuntu TESTCMD
        run: echo "TESTCMD=xvfb-run --auto-servernum julia" >> $GITHUB_ENV
      - name: Install Plots dependencies
        uses: julia-actions/julia-buildpkg@latest
      - name: Install Benchmarking dependencies
        run: julia -e 'using Pkg; pkg"add PkgBenchmark BenchmarkCI"'

      - name: Run benchmarks
        run: $TESTCMD -e 'using BenchmarkCI; BenchmarkCI.judge()'
      - name: Print judgement
        run: julia -e 'using BenchmarkCI; BenchmarkCI.displayjudgement()'
      - name: Post results
        run: julia -e 'using BenchmarkCI; BenchmarkCI.postjudge()'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
