name: ci

on:
  workflow_dispatch:
  pull_request:
  push:
    branches: [v2]

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

# needed to allow julia-actions/cache to delete old caches that it has created
permissions:
  actions: write
  contents: read

defaults:
  run:
    shell: bash

jobs:
  ci:
    if: ${{ !contains(github.event.head_commit.message, '[skip ci]') && !contains(github.event.pull_request.labels.*.name, 'skip ci') }}
    env:
      JULIA_PROJECT_CMD: julia --project=@. --check-bounds=yes --color=yes
      JULIA_CONDAPKG_LIBSTDCXX_NG_VERSION: ignore  # handled ourselves in ci/matplotlib.jl
      JULIA_CONDAPKG_BACKEND: MicroMamba
      GKS_ENCODING: utf8
      GKS_WSTYPE: nul
      MPLBACKEND: agg
    name: julia ${{ matrix.version }} - ${{ matrix.os }}
    continue-on-error: ${{ matrix.experimental }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        experimental: [false]
        version:
          - 'lts'  # minimal declared julia compat in `Project.toml`
          - '1'  # latest stable
        os: [ubuntu-latest, windows-latest]
        arch: [x64]
        include:  # NOTE: macos-latest resolves to macos-14 (only aarch64)
          - os: macos-latest
            experimental: false
            arch: aarch64
            version: 'lts'
          - os: macos-latest
            experimental: false
            arch: aarch64
            version: '1'
          - os: ubuntu-latest
            experimental: true
            version: 'pre'  # upcoming julia version (`alpha`, `beta` or `rc`)

    steps:
      - uses: actions/checkout@v6

      - name: setup ubuntu dependencies
        if: startsWith(matrix.os, 'ubuntu')
        run: |
          sudo apt-get -y update
          sudo apt-get -y install g++ gnuplot poppler-utils texlive-{latex-base,latex-extra,luatex}  # LaTeX
          sudo fc-cache -vr
          echo "LD_PRELOAD=$(g++ --print-file-name=libstdc++.so)" >>$GITHUB_ENV

      - uses: julia-actions/setup-julia@latest
        with:
          version: ${{ matrix.version }}

      - uses: julia-actions/cache@v2

      - name: dev downstream pkgs and install mpl deps
        env:
          JULIA_PKG_PRECOMPILE_AUTO: 0
        run: |
          ${{ env.JULIA_PROJECT_CMD }} -e '
            using Pkg
            Pkg.develop([
              (; path="./RecipesBase"),      # compat for LTS [sources], remove later
              (; path="./RecipesPipeline"),  # compat for LTS [sources], remove later
              (; path="./PlotThemes"),       # compat for LTS [sources], remove later
              (; path="./PlotsBase"),        # compat for LTS [sources], remove later
              (; path="./Plots"),            # compat for LTS [sources], remove later
              (; path="./GraphRecipes"),
              (; path="./StatsPlots"),
            ])
            include(joinpath(@__DIR__, "ci", "matplotlib.jl"))
            Pkg.precompile()  # // precompilation
          '

      - name: test Plots stack
        timeout-minutes: 90
        run: |
          cmd=(${{ env.JULIA_PROJECT_CMD }} --depwarn=yes)
          if [ "$RUNNER_OS" == "Linux" ]; then
            cmd=(xvfb-run ${cmd[@]})
          fi
          echo ${cmd[@]}
          ${cmd[@]} -e 'using Pkg
          Pkg.test([
            "RecipesBase",
            "RecipesPipeline",
            "PlotThemes",
            "PlotsBase",
            "GraphRecipes",
            "StatsPlots",
            "Plots",
          ]; coverage=true)'

      - uses: julia-actions/julia-processcoverage@latest
        with:
          directories: RecipesBase/src,RecipesPipeline/src,PlotsBase/src,PlotsBase/ext,Plots/src,PlotThemes/src,GraphRecipes/src,StatsPlots/src
      - uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          fail_ci_if_error: false
          file: lcov.info
