name: docs

on:
 push:
  branches:
    - master
  tags: '*'
 
jobs:
  Build_docs:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
        with:
          repository: JuliaPlots/PlotDocs.jl
      - uses: julia-actions/setup-julia@v1
      - name: Cache artifacts
        uses: actions/cache@v1
        env:
          cache-name: cache-artifacts
        with:
          path: ~/.julia/artifacts 
          key: ${{ runner.os }}-test-${{ env.cache-name }}-${{ hashFiles('**/Project.toml') }}
          restore-keys: |
            ${{ runner.os }}-test-${{ env.cache-name }}-
            ${{ runner.os }}-test-
            ${{ runner.os }}-
      - name: Install dependencies
        run: |
          sudo apt-get update -y
          sudo apt-get install -y qt5-default \
            ttf-mscorefonts-installer \
            poppler-utils \
            pdf2svg \
            texlive-latex-base \
            texlive-binaries \
            texlive-pictures \
            texlive-latex-extra \
            texlive-luatex \
            ghostscript-x \
            libgconf2-4 \
            gnuplot
          sudo fc-cache -vr
            
      - name: build documentation
        env: 
          PYTHON: ""
          JULIA_DEBUG: "Documenter"
          DOCUMENTER_KEY: ${{ secrets.DOCUMENTER_KEY }}
        run: |
          xvfb-run julia --color=yes --project=docs/ -e 'using Pkg; Pkg.develop(PackageSpec(path=pwd())); Pkg.add(PackageSpec(name="Plots", rev=split(ENV["GITHUB_REF"], "/", limit=3)[3])); Pkg.instantiate()'
          xvfb-run julia --color=yes --project=docs/ -e 'using Pkg; pkg"add Documenter#master"'
          # export LD_LIBRARY_PATH="$(julia --project=docs/ -e 'using Plots; println(Plots.FFMPEG.FFMPEG_jll.LIBPATH[])')"
          export PLOTDOCS_ANSICOLOR=true
          xvfb-run julia --color=yes --project=docs/ -e 'withenv("GITHUB_REPOSITORY" => "JuliaPlots/PlotDocs.jl") do; include("docs/make.jl"); end' 
