name: format

on:
  workflow_dispatch:
  pull_request:
  push:
    branches: [master, v2]
      
concurrency: 
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: julia-actions/setup-julia@latest
      - name: format Julia files
        run: |
          julia --color=yes --compile=min -O0 -e '
            using Pkg; Pkg.add("JuliaFormatter")
            using JuliaFormatter
            format(["RecipesBase", "RecipesPipeline", "PlotsBase", "src", "test", "GraphRecipes", "StatsPlots", "PlotThemes"])
          '
          if [ "$(git diff --name-only)" != "" ]; then
            echo "Some files have not been formatted !!"
            git diff
            exit 1
          fi
      - name: suggester
        if: success() && (github.ref == 'refs/heads/master' || github.ref == 'refs/heads/v2' )
        uses: reviewdog/action-suggester@v1
        with:
          tool_name: JuliaFormatter
          fail_on_error: true

      # reviewdog/action-suggester not using `cleanup` flag?
      - name: cleanup
        if: success() || failure()
        run: |
          git checkout -- .
          git clean --force
        shell: bash
