name: Update reference images

on:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          repository: "JuliaPlots/PlotReferenceImages.jl"
          token: ${{ secrets.PLOTS_REFIMAGES_TOKEN }}
          path: PlotReferenceImages
      - uses: actions/checkout@v6
        with:
          path: Plots
      - uses: julia-actions/setup-julia@latest
        with:
          version: 1
      - uses: julia-actions/cache@v2
      - name: Run Plots tests
        env:
          PLOTSBASE_TEST_PACKAGES: GR
          VISUAL_REGRESSION_TESTS_AUTO: true
        shell: julia --color=yes --project=Plots {0}
        run: |
          using Pkg
          Pkg.test("PlotsBase")
      - name: Diagnostics
        run: |
          ls
          cd PlotReferenceImages
          cp -r ~/.julia/dev/PlotReferenceImages.jl/* .
          ls
          git status
      - name: Create pull request
        uses: peter-evans/create-pull-request@v7
        with:
          title: "Update Plot reference images from branch ${{ github.ref_name}} by the action ${{ github.action }}"
          body: "Review changes thoroughly and only merge when no unwanted changes are present."
          path: PlotReferenceImages
          token: ${{ secrets.PLOTS_REFIMAGES_TOKEN }}
          branch: "${{ github.ref_name}}"
          base: "master"
